.header__info-wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1108px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969696;
}


@media screen and (max-width: 767px) {
  .header__info-wrapper {
    width: calc(100% - 2*10px);
  }
}