.big-logo {
  width: 180px;
  height: 90px;
  border: 2px solid #fff;
  padding: 113px 68px;
  margin-top: 160px;
}

@media screen and (max-width: 1108px) {
  .big-logo {
    width: 160px;
    height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .big-logo {
    margin-top: 80px;
  }
}