.footer__info {
  background-image: url('../../../images/footer-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 400px;
}

@media screen and (max-width: 767px) {
  .footer__info {
    flex-direction: column;
  }
}