.footer__subscribe {
  max-width: 350px;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .footer__subscribe {
    width: calc(100% - 2*15px);
    margin-left: auto;
    margin-right: auto;
  }
}