.footer__subscribe-input {
  width: 206px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 10px;
  border: none;
  box-sizing: border-box;
 
}

.footer__subscribe-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #969696;
}