.new-collection__title{
  font-family: 'PlayfairDisplay','Times New Roman', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 484px 0 0;
  text-align: center;
}

.new-collection__title::after{
  content: "";
  border-bottom: 1px solid #fff;
  width: 120px;
  display: block;
  margin: 30px auto 0;
}