.new-collection__items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 1108px) {
  .new-collection__items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    max-width: 1108px;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 767px) {
  .new-collection__items-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
    width: 100%;
  }
}