.old-collection__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 471px;
  margin: 40px 0 0 ;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .old-collection__text {
    width: calc(100% - 2*10px);
    margin-left: auto;
    margin-right: auto;
  }
}